#nprogress .bar {
  background: #ff5722 !important;
}

.MuiDialog-container .MuiGrid-spacing-xs-8{
  width: 100%;
  margin:0;
  
}

.image-gallery-thumbnail .image-gallery-thumbnail-image{
    height: 100px;
    object-fit: cover;
}

@media(max-width:767px){
  .MuiDropzonePreviewList-imageContainer{
    width: 100%;
    max-width: 100% !important;
    flex:1;
  }
}